{% load static %}
{% load index %}
{% load asjson %}
{% load getdictitem %}
{% load crispy_forms_tags %}

<div class="card-body">
    <div class="row">
        <div class="col-4">
            {# hier right-to-delete circle packing #}
            <script type="text/javascript" >
                var jsondata_declined_apply{{ forloop.counter0 }} = {{ apply_request.right | asjson }}
            </script>
            <svg id="declinedApplicationSVG{{ forloop.counter0 }}" width="300" height="300"></svg>
            <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/myRequests/declined/myRequestsCirclePacking_declined_application.js' %}"></script>
        </div>
        <div class="col-8">
            {# hier Formular #}
            <label class="font-weight-bold" for="declined_application_date_of_decline{{ forloop.counter0 }}">Abweisungsdatum:</label>
            <p class="text-left" id="declined_application_date_of_decline{{ forloop.counter0 }}">{{ delete_request.request.last_modified }}</p>
            <label class="font-weight-bold" for="declined_application_reason_for_decline{{ forloop.counter0 }}">Begründung für Abweisung:</label>
            <p class="text-left" id="declined_application_reason_for_decline{{ forloop.counter0 }}">{{ apply_request.request.reason_for_decline }}</p>
            <label class="font-weight-bold" for="declined_application_date_of_application{{ forloop.counter0 }}">Antragsdatum:</label>
            <p class="text-left" id="declined_application_date_of_application{{ forloop.counter0 }}">{{ apply_request.request.created }}</p>
            <label class="font-weight-bold" for="declined_application_compare_user{{ forloop.counter0 }}">Vergleichsnutzer:</label>
            <p class="text-left" id="declined_application_compare_user{{ forloop.counter0 }}">{{ apply_request.request.compare_user }}</p>
            <label class="font-weight-bold" for="declined_application_type_of_apply_right{{ forloop.counter0 }}">Berechtigungstyp:</label>
            <p class="text-left" id="declined_application_type_of_apply_right{{ forloop.counter0 }}">{{ apply_request.request.right_type }}</p>
            <label class="font-weight-bold" for="declined_application_apply_right_description{{ forloop.counter0 }}">Beschreibung:</label>
            <p class="text-left" id="declined_application_apply_right_description{{ forloop.counter0 }}">{{ apply_request.model.right_description }}</p>
            <label class="font-weight-bold" for="declined_application_reason_for_apply{{ forloop.counter0 }}">Begründung für Beantragung:</label>
            <p class="text-left" id="declined_application_reason_for_apply{{ forloop.counter0 }}">{{ apply_request.request.reason_for_action }}</p>
        </div>
    </div>
</div>
