<div class="row top-buffer">
    <div class="col">
        {# Hier die Trash-Drop-Fläche realisieren #}
        {% if view_mode == "Graphische Ansicht" %}
            {% include 'myRDB/trashTemplate.html' %}
        {% else %}
            {% include 'myRDB/trashTableTemplate.html' %}
        {% endif %}
    </div>
    <div class="col-6">
        <div class="card">
            {# Hier die Übertragenen-liste realisieren #}
            {% if view_mode == "Graphische Ansicht" %}
                {% include 'myRDB/transferTemplate.html' %}
            {% else %}
                {% include 'myRDB/transferTableTemplate.html' %}
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="row-fluid">
            <div class="card">
                <div class="card-body">
                    {# Hier die legende realisieren #}
                </div>
            </div>
        </div>
        <div class="row-fluid top-buffer">
            <div class="card">
                <div class="card-body">
                    {# Hier die verschiedenen Buttons realisieren #}
                     <form id=”apply_changes” method=”POST” action="{% url 'myRDB:apply_changes' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Änderungen beantragen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>