<div class="row top-buffer">
    <div class="col">
        {# Hier die Trash-Drop-Fläche realisieren #}
        {% if view_mode == "Graphische Ansicht" %}
            {% include 'myRDB/trashTemplate.html' %}
        {% else %}
            {% include 'myRDB/trashTableTemplate.html' %}
        {% endif %}
    </div>
    <div class="col-6">
        <div class="card">
            {# Hier die Übertragenen-liste realisieren #}
            {% if view_mode == "Graphische Ansicht" %}
                {% include 'myRDB/transferTemplate.html' %}
            {% else %}
                {% include 'myRDB/transferTableTemplate.html' %}
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="row-fluid">
            <div class="card">
                <div class="card-body">
                    {# Hier die legende realisieren #}
                </div>
            </div>
        </div>
        <div class="row-fluid top-buffer">
            <div class="card">
                <div class="card-body">
                    {# Hier die verschiedenen Buttons realisieren #}
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-light">Rechte Beantragen</button>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col">
                            <button type="button" class="btn btn-light">Löschung beantragen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>