<div class="card top-buffer">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img class="card-img-top" src="/../../static/myRDB/images/default_profile.png"
                     alt="Profile Picture">
            </div>
            <div class="col-9">
                <h5 class="card-title">{{ compareUser.identity }}</h5>
                <p class="card-text">{{ compareUser.name }}</p>
                <p class="card-text">{{ compareUser.first_name }}</p>
                <p class="card-text">{{ compareUser.departement_id }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm">
                <p class="card-text">User:...</p>
            </div>
            <div class="col-sm">
                <p class="card-text">Rollen: {{ comp_role_count }}</p>
            </div>
            <div class="col-sm">
                <p class="card-text">AF: {{ comp_af_count }}</p>
            </div>
            <div class="col-sm">
                <p class="card-text">GF: {{ comp_gf_count }}</p>
            </div>
            <div class="col-sm">
                <p class="card-text">TF: {{ comp_tf_count }}</p>
            </div>
        </div>
    </div>
</div>