{% load static %}
<div class="card-header">
    <h5>Vergleichsliste</h5>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table id="compare_data_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">TF</th>
                <th scope="col">GF</th>
                <th scope="col">AF</th>
                {# <th scope="col">Rolle</th> #}
            </tr>
        </thead>
        <tbody>
            {% for row in compareUser_table_data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <script type="text/javascript">
            var user_pk = {{ user.pk }};
            var CSRF_TOKEN = "{{ csrf_token }}";
            var compare_data_table;
        </script>
        <script src="{% static 'myRDB/js/data_tables/compare_data_table.js' %}"></script>
    </div>
</div>
<div class="card-footer">
</div>


<!--
{% if is_paginated %}
<ul class="pagination">
    {% if compareUser_table_data.has_previous %}
    <li>
        <a href="?userSearch={{ compareUser.identity }}&page={{ page_obj.number }}&compare_page={{ compareUser_table_data.previous_page_number }}&view_mode=Tabellarische Ansicht">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in compareUser_table_data.paginator.page_range %}
    {% if compareUser_table_data.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?userSearch={{ compareUser.identity }}&page={{ page_obj.number }}&compare_page={{ i }}&view_mode=Tabellarische Ansicht">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if compareUser_table_data.has_next %}
    <li>
        <a href="?userSearch={{ compareUser.identity }}&page={{ page_obj.number }}&compare_page={{ compareUser_table_data.next_page_number }}&view_mode=Tabellarische Ansicht">&raquo;</a>
    </li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
-->