{% load static %}
{% load index %}
{% load asjson %}
{% load getdictitem %}

<script>var iUnequal = 0</script>
<script>var iUnequalModel = 0</script>

<div class="card-body">
    <div class="row">
        <div class="col">
            {# hier user_af, bzw _gf, _tf circle packing #}
            <script>
                var jsondata_unequal{{ forloop.counter0 }} = {{ right | asjson }}
            </script>
            <svg id="analysisCirclePackingSVG_unequal{{ forloop.counter0 }}" width="300" height="300"></svg>
            <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/analysisCirclePacking_unequal.js' %}"></script>
        </div>
        <div class="col">
            {# hier Informationen und Vergleichsdaten #}
            <h5 class="text-center">{{ unequal_rights_stats|index:forloop.counter0|getdictitem:'right_name' }}</h5>
            <p class="m-3 text-center font-italic">{{ unequal_rights_stats|index:forloop.counter0|getdictitem:'description' }}</p>
            <div class="row">
                {% include "myRDB/profile/profile_rights_analysis_stats_table_unequal.html" %}
            </div>
        </div>
        <div class="col">
            {# hier model_af, bzw _gf, _tf circle packing #}
            <script>var jsonModeldata_unequal{{ forloop.counter0 }} = {{ unequal_model_rights|index:forloop.counter0 | asjson}}</script>

            <svg id="analysisModelCirclePackingSVG_unequal{{ forloop.counter0 }}" width="300" height="300"></svg>
            <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/analysisModelCirclePacking_unequal.js' %}"></script>
        </div>
    </div>
</div>
