<div class="row top-buffer">
    <div class="col">
        <div class="card">
            <div class="card-body">
                {# Hier die legende realisieren #}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                {# Hier die verschiedenen Buttons realisieren #}
                <div class="row">
                    <div class="col">
                        <input type="submit" class="btn btn-light">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-light">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
