{% extends 'myRDB/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="mx-auto card" style="width: 18rem">
    <div class="card-body">
        <form class="form-signin">
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <label for="inputXVNr" class="sr-only">XVNummer</label>
            <input type="text" id="inputXVNr" class="form-control" placeholder="XVNummer" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <button onclick="location.href='{% url 'myRDB:register' %}';" class="btn btn-lg btn-primary btn-block"
                    type="button">Sign up
            </button>
        </form>
    </div>
</div>
<div class="mx-auto card" style="width: 18rem">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <a href="{% url 'myRDB:password_reset' %}">reset password</a>

        </form>
    </div>
</div>

{% endblock %}