.half-table{
    max-width : 50%;
    min-width : 50%;
}

.top-buffer {
    margin-top: 20px;
}

.trash{
    background-image: url('../images/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

.transfer{
    background-image: url('../images/transfer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

.trash, .transfer{
    min-height: 180px;
    height: 180px;
}

td.highlight{
    background-color: whitesmoke !important;
}

.darkgrey{
    background-color: darkgrey!important;
}

