.half-table{
    max-width : 50%;
    min-width : 50%;
}

.top-buffer {
    margin-top: 20px;
}

.trash{
    background-image: url('../images/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;

}
td.highlight{
    background-color: whitesmoke !important;
}

