<!DOCTYPE html>
<meta charset="UTF-8">

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'myRDB/js/jquery-3.3.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'myRDB/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myRDB/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myRDB/js/d3.v4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myRDB/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'myRDB/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'myRDB/js/bootbox.min.js' %}"></script>

    <title>{% block title %}MyRDB{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/datatables.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/jquery-ui.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/circle_packing/circlePacking.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/scatter_plot/scatterPlot_fromJSON.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myRDB/css/style.css' %}">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'myRDB:index' %}">MyRDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{% url 'myRDB:profile' %}">Profile</a></li>
                <li><a class="nav-item nav-link" href="{% url 'myRDB:my_requests' %}">Meine Anfragen</a></li>
                {% if user.is_staff %}
                    <li><a class="nav-item nav-link" href="{% url 'myRDB:users' %}">Nutzer</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'myRDB:search_all' %}">Suche</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'myRDB:request_pool' %}">Anfragen-Pool</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'myRDB:csvToMongo' %}">Datenimport</a></li>
                {% endif %}
            {% endif %}
        </ul>

    </div>
    <ul class="nav navbar-right navbar-nav">
        {% if user.is_authenticated %}
        <li><p>Youre logged in</p></li>
        <li><a class="nav-item nav-link active" href="{% url 'myRDB:logout' %}">Logout<span
                class="sr-only">(current)</span></a></li>
        {% else %}
        <li><p>Youre not logged in</p></li>
        <li><a class="nav-item nav-link active" href="{% url 'myRDB:login' %}">Login<span
                class="sr-only">(current)</span></a></li>
        {% endif %}

    </ul>
</nav>


<div class="content container" id="content_container">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>