{% load static %}
{% load asjson %}
{# Hier die Circle-Packing-Visualisierung #}
{% csrf_token %}
<div class="card-header">
    <h5>Berechtigungsgraph</h5>
</div>
<div class="card-body">
    <script>
        var user_pk = "{{ user.pk }}";
        var CSRF_TOKEN = "{{ csrf_token }}";
        var jsondata = {{ jsondata | asjson }};
        var updateCP;
    </script>
    <svg id="circlePackingSVG" width="480" height="480"></svg>
    <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/circlePacking.js' %}"></script>
</div>
<div class="card-footer">
    <p>Berechtigungen mit Rechtsklick & Bestätigung<br>auf Löschliste setzen!</p>
</div>
