{% load static %}
{% load asjson %}
<script>var i = 0</script>
<script>var iModel = 0</script>
<div class="card top-buffer">
    <div class="card-body">
        <div class="row">
            <div class="col">
                {# hier user_af, bzw _gf, _tf circle packing #}
                {% if level == "AF" %}
                    <script>
                        var jsondata{{ forloop.counter0 }} = {{ af | asjson }}
                    </script>
                {% elif level == "GF" %}
                    <script>
                        var jsondata{{ forloop.counter0 }} = {{ gf | asjson}}
                    </script>
                {% endif %}
                <svg id="analysisCirclePackingSVG{{ forloop.counter0 }}" width="300" height="300"></svg>
                <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/analysisCirclePacking.js' %}"></script>
            </div>
            <div class="col">
                {# hier Informationen und Vergleichsdaten #}
                {% if level == "AF" %}
                    <h5 class="text-center">{{ af.name }}</h5>
                {% elif level == "GF" %}
                    <h5 class="text-center">{{ gf.name }}</h5>
                {% endif %}
            </div>
            <div class="col">
                {% load index %}
                {# hier model_af, bzw _gf, _tf circle packing #}
                {% if level == "AF" %}
                    <script>var jsonModeldata{{ forloop.counter0 }} = {{ user_model_afs|index:forloop.counter0 | asjson}}</script>
                {% elif level == "GF" %}
                    <script>var jsonModeldata{{ forloop.counter0 }} = {{ user_model_gfs|index:forloop.counter0 | asjson}}</script>
                {% endif %}
                <svg id="analysisModelCirclePackingSVG{{ forloop.counter0 }}" width="300" height="300"></svg>
                <script type="text/javascript" src="{% static 'myRDB/js/circle_packing/analysisModelCirclePacking.js' %}"></script>
            </div>
        </div>
    </div>
</div>