<div class="table-responsive text-nowrap">
    <table class="table table-hover table-bordered">
        <tr>
            <th scope="col">TF</th>
            <th scope="col">GF</th>
            <th scope="col">AF</th>
            <th scope="col">Rolle</th>
        </tr>
        {% for row in table_data %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        {% if identity_param %}
            <li><a href="?identity={{ identity_param }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
        {% if identity_param %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?identity={{ identity_param }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% else %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if identity_param %}
        {% if page_obj.has_next %}
        <li><a href="?identity={{ identity_param }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    {% else %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    {% endif %}
</ul>
{% endif %}
