{% load static %}
{% load index %}
{% load getdictitem %}
<script>
    var iUnansweredApply = 0;
</script>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6" align="left">
                <h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#unanswered_apply_request{{ forloop.counter0 }}" role="button" aria-expanded="false" aria-controls="unanswered_apply_request{{ forloop.counter0 }}">
                        Beantragung | {{ apply_request.request.right_name }}
                    </a>
                </h5>
            </div>
            <div class="col-6" align="right">
                <p>
                    <a class="btn btn-secondary" href="" role="button">
                        X
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="collapse" id="unanswered_apply_request{{ forloop.counter0 }}">
         {% include 'myRDB/myRequests/unanswered/unanswered_apply_request_card.html' %}
    </div>
</div>

